
@{
    ViewBag.Title = "Index";
}

@model List<Books>

<table class="table table-stripped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Author ID</th>
            <th scope="col">Title</th>
            <th scope="col">Pages</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <th scope="row">@item.AuthorId</th>
                <th scope="row">@item.Title</th>
                <th scope="row">@item.Pages</th>
                <th scope="row">@item.Price</th>
            </tr>
        }
    </tbody>
</table> 